In [2]:
import pandas as pd
import numpy as np

In [3]:
data = '../data/merged_stats_22024.csv'
df = pd.read_csv(data)
df.head()

,teamCity,teamName,teamTricode,teamSlug,PLAYER_ID,firstName,familyName,nameI,playerSlug,position,...,ROLLING_TOV,ROLLING_PF,ROLLING_PLUS_MINUS,ROLLING_total_shots,ROLLING_total_makes,ROLLING_fg_pct,ROLLING_paint_shots,ROLLING_mid_range_shots,ROLLING_three_point_shots,ROLLING_avg_distance
0,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,7.000000,22.000000,7.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
1,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,9.500000,20.000000,7.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
2,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,12.666667,19.666667,6.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
3,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,12.250000,19.500000,3.5,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
4,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,13.800000,17.000000,-2.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125

In [4]:
# normalization
from sklearn.preprocessing import StandardScaler, MinMaxScaler

numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
exclude_cols = ['GAME_ID', 'PLAYER_ID', 'TEAM_ID', 'jerseyNum']
numeric_cols = [col for col in numeric_cols if col not in exclude_cols]

scaler = StandardScaler()

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df[numeric_cols].describe()

,fieldGoalsMade,fieldGoalsAttempted,fieldGoalsPercentage,threePointersMade,threePointersAttempted,threePointersPercentage,freeThrowsMade,freeThrowsAttempted,freeThrowsPercentage,reboundsOffensive,...,ROLLING_TOV,ROLLING_PF,ROLLING_PLUS_MINUS,ROLLING_total_shots,ROLLING_total_makes,ROLLING_fg_pct,ROLLING_paint_shots,ROLLING_mid_range_shots,ROLLING_three_point_shots,ROLLING_avg_distance
count,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,...,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04,1.606600e+04
mean,-4.245743e-17,9.906733e-17,-1.132198e-16,4.245743e-17,8.491485e-17,-9.906733e-17,-1.415248e-17,2.830495e-17,8.491485e-17,1.061436e-17,...,-5.342560e-16,-2.069800e-16,-7.076238e-18,-8.491485e-17,-2.830495e-17,-5.660990e-17,4.245743e-17,5.660990e-17,-5.660990e-17,1.273723e-16
std,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,...,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00
min,-9.325539e-01,-1.045621e+00,-1.193910e+00,-6.786074e-01,-8.781533e-01,-7.514721e-01,-6.056925e-01,-6.426142e-01,-7.886100e-01,-6.421192e-01,...,-5.261269e+00,-5.774429e+00,-4.125062e+00,-1.023012e+00,-9.924110e-01,-2.216891e+00,-9.061854e-01,-6.185857e-01,-8.108101e-01,-1.825464e+00
25%,-9.325539e-01,-8.857213e-01,-1.193910e+00,-6.786074e-01,-8.781533e-01,-7.514721e-01,-6.056925e-01,-6.426142e-01,-7.886100e-01,-6.421192e-01,...,-6.443629e-01,-5.977877e-01,-6.646820e-01,-8.543298e-01,-8.436318e-01,-9.545888e-02,-7.891854e-01,-5.914171e-01,-7.788112e-01,-5.992873e-01
50%,-3.136506e-01,-2.461205e-01,1.042977e-01,-6.786074e-01,-2.399225e-01,-7.514721e-01,-6.056925e-01,-6.426142e-01,-7.886100e-01,-6.421192e-01,...,-2.877544e-02,-3.646516e-02,1.747885e-02,-2.765931e-01,-2.660187e-01,2.149946e-01,-3.211855e-01,-4.555740e-01,-4.321567e-01,2.311044e-01
75%,6.147043e-01,5.533805e-01,6.369861e-01,7.011947e-01,7.174237e-01,6.803281e-01,3.803799e-01,1.602975e-01,9.944640e-01,1.445429e-01,...,6.637604e-01,5.872266e-01,6.441150e-01,5.879035e-01,5.828976e-01,4.912087e-01,4.848143e-01,1.421355e-01,4.264797e-01,7.277441e-01
max,5.875382e+00,5.190486e+00,2.333828e+00,6.220403e+00,5.504155e+00,2.828028e+00,7.775923e+00,9.795237e+00,1.588822e+00,8.797826e+00,...,6.665738e+00,4.204639e+00,3.916107e+00,3.236215e+00,3.716011e+00,3.322404e+00,5.827813e+00,9.623982e+00,3.978355e+00,2.728907e+00

In [5]:
# encode position
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['position_encoded'] = label_encoder.fit_transform(df['position'])
df['position_encoded']

/var/folders/vl/05t5ksb558l04dj_v01x4f4r0000gn/T/ipykernel_89547/453439890.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['position_encoded'] = label_encoder.fit_transform(df['position'])

0        1
1        1
2        1
3        1
4        1
        ..
16061    3
16062    3
16063    3
16064    3
16065    3
Name: position_encoded, Length: 16066, dtype: int64

In [11]:
# convert minutes and date to numeric values
def time_to_minutes(time_str):
    if pd.isna(time_str):
        return np.nan
    minutes, seconds = time_str.split(':')
    return int(minutes) + int(seconds) / 60

df['minutes'] = df['minutes'].apply(time_to_minutes)

df['GAME_DATE'] = pd.to_datetime(df['GAME_DATE'], errors='coerce')
df['days_since'] = (df['GAME_DATE'] - df['GAME_DATE'].min()).dt.days

df[['minutes', 'days_since']]

/var/folders/vl/05t5ksb558l04dj_v01x4f4r0000gn/T/ipykernel_89547/548198615.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['days_since'] = (df['GAME_DATE'] - df['GAME_DATE'].min()).dt.days

         minutes  days_since
0      34.650000         108
1      34.700000         111
2      33.766667         112
3      35.800000         114
4      28.966667         116
...          ...         ...
16061        NaN         154
16062        NaN         170
16063   2.300000         184
16064        NaN         187
16065        NaN         191

[16066 rows x 2 columns]

In [13]:
# change WL to numeric
df['WL'] = df['WL'].map({'W': 1, 'L': 0})
df['WL'].head()

0    1.0
1    1.0
2    1.0
3    0.0
4    0.0
Name: WL, dtype: float64

In [16]:
# encode opponent
df['opposing_team'] = df['MATCHUP'].str.extract(r'(\w+)\s*(vs\.|@)\s*(\w+)')[2]

team_mapping = {team: idx for idx, team in enumerate(df['opposing_team'].unique())}
df['opposing_team_numeric'] = df['opposing_team'].map(team_mapping)

df.drop(['opposing_team'], axis=1, inplace=True)

df[['MATCHUP', 'opposing_team_numeric']].head()

/var/folders/vl/05t5ksb558l04dj_v01x4f4r0000gn/T/ipykernel_89547/2086716745.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['opposing_team'] = df['MATCHUP'].str.extract(r'(\w+)\s*(vs\.|@)\s*(\w+)')[2]
/var/folders/vl/05t5ksb558l04dj_v01x4f4r0000gn/T/ipykernel_89547/2086716745.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['opposing_team_numeric'] = df['opposing_team'].map(team_mapping)

       MATCHUP  opposing_team_numeric
0  LAL vs. MIN                      0
1  LAL vs. PHX                      1
2  LAL vs. SAC                      2
3    LAL @ PHX                      1
4    LAL @ CLE                      3

In [18]:
# drop unnecessary columns
non_numeric_columns = df.select_dtypes(exclude=['number']).columns.tolist()
df = df.drop(columns=non_numeric_columns)

df.columns

Index(['PLAYER_ID', 'jerseyNum', 'minutes', 'fieldGoalsMade',
       'fieldGoalsAttempted', 'fieldGoalsPercentage', 'threePointersMade',
       'threePointersAttempted', 'threePointersPercentage', 'freeThrowsMade',
       ...
       'ROLLING_total_shots', 'ROLLING_total_makes', 'ROLLING_fg_pct',
       'ROLLING_paint_shots', 'ROLLING_mid_range_shots',
       'ROLLING_three_point_shots', 'ROLLING_avg_distance', 'position_encoded',
       'days_since', 'opposing_team_numeric'],
      dtype='object', length=115)

In [19]:
# check for nans or infs
print("NaN values in dataset:\n", np.isnan(df[numeric_cols]).sum())  # Count NaNs
print("Inf values in dataset:\n", np.isinf(df[numeric_cols]).sum())  # Count Inf values

NaN values in dataset:
 fieldGoalsMade               0
fieldGoalsAttempted          0
fieldGoalsPercentage         0
threePointersMade            0
threePointersAttempted       0
                            ..
ROLLING_fg_pct               0
ROLLING_paint_shots          0
ROLLING_mid_range_shots      0
ROLLING_three_point_shots    0
ROLLING_avg_distance         0
Length: 106, dtype: int64
Inf values in dataset:
 fieldGoalsMade               0
fieldGoalsAttempted          0
fieldGoalsPercentage         0
threePointersMade            0
threePointersAttempted       0
                            ..
ROLLING_fg_pct               0
ROLLING_paint_shots          0
ROLLING_mid_range_shots      0
ROLLING_three_point_shots    0
ROLLING_avg_distance         0
Length: 106, dtype: int64

In [20]:
# save normalized data
df.to_csv('preprocessed_stats_22024.csv', index=False)